body {
    color: #333;
}

#num_clients {
    float:right;
    text-align: center;
    border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
    background-color:#ddd;
    padding: 10px;
}

#num_clients span {
    font-size: 3em;
}

#status_container {
	width:100%;
}

#status_container div.incoming {
    border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
    background-color:#ddd;
    padding: 10px;
	padding-top:20px;
	margin:5px;
	width:140px;
	height:130px;
	float: left;
	display: inline;
	text-align: center;
}

audio {
	width: 140px;
    border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
}