body {
    color: #333;
}

#num_clients, #connection_status, #the_number {
    float:left;
    text-align: center;
    border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
    background-color:#ddd;
    padding: 10px;
	height:70px;
	margin-right:10px;
}

#connection_status .disconnected {
	color: darkred;
}

#connection_status .connected {
	color: darkgreen;
}

#num_clients span, #connection_status span {
    font-size: 3em;
	clear:left;
}

#change_message_container {
	width:600px;
    border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
    background-color:#ddd;
    padding: 10px;
	float:left;
	height:70px;
	margin-right:10px;	
}

#change_message_container input[type=text] {
	padding: 5px;
	font-size: 24px;
	margin: 10px 20px;
	width:470px;
}

#change_message_container button {
	font-size:1.5em;
	background-color: #e33100;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	position: relative;
	cursor: pointer;
}	

#the_number span {
	font-size: 2em;
	color: #333;
	line-height:2.2em;
}

#status_container {
	width:100%;
	clear:left;
}

#status_container div.incoming {
    border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
    background-color:#ddd;
    padding: 10px;
	padding-top:20px;
	margin:5px;
	width:140px;
	height:130px;
	float: left;
	display: inline;
	text-align: center;
}

audio {
	width: 140px;
    border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
}